Lab 4/ClientWindowsFormsApp/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ConvertDegrees">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="degrees" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="option" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertDegreesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertDegreesResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CurrentDateTime">
        <s:complexType />
      </s:element>
      <s:element name="CurrentDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CurrentDateTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnList">
        <s:complexType />
      </s:element>
      <s:element name="ReturnListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnListResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConvertMoney">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sum" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="option" type="s1:char" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertMoneyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertMoneyResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="char">
        <s:restriction base="s:unsignedShort" />
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertDegreesSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertDegrees" />
  </wsdl:message>
  <wsdl:message name="ConvertDegreesSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertDegreesResponse" />
  </wsdl:message>
  <wsdl:message name="CurrentDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:CurrentDateTime" />
  </wsdl:message>
  <wsdl:message name="CurrentDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:CurrentDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ReturnListSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnList" />
  </wsdl:message>
  <wsdl:message name="ReturnListSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnListResponse" />
  </wsdl:message>
  <wsdl:message name="ConvertMoneySoapIn">
    <wsdl:part name="parameters" element="tns:ConvertMoney" />
  </wsdl:message>
  <wsdl:message name="ConvertMoneySoapOut">
    <wsdl:part name="parameters" element="tns:ConvertMoneyResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="ConvertDegrees">
      <wsdl:input message="tns:ConvertDegreesSoapIn" />
      <wsdl:output message="tns:ConvertDegreesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CurrentDateTime">
      <wsdl:input message="tns:CurrentDateTimeSoapIn" />
      <wsdl:output message="tns:CurrentDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReturnList">
      <wsdl:input message="tns:ReturnListSoapIn" />
      <wsdl:output message="tns:ReturnListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <wsdl:input message="tns:ConvertMoneySoapIn" />
      <wsdl:output message="tns:ConvertMoneySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDegrees">
      <soap:operation soapAction="http://tempuri.org/ConvertDegrees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentDateTime">
      <soap:operation soapAction="http://tempuri.org/CurrentDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnList">
      <soap:operation soapAction="http://tempuri.org/ReturnList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <soap:operation soapAction="http://tempuri.org/ConvertMoney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertDegrees">
      <soap12:operation soapAction="http://tempuri.org/ConvertDegrees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CurrentDateTime">
      <soap12:operation soapAction="http://tempuri.org/CurrentDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReturnList">
      <soap12:operation soapAction="http://tempuri.org/ReturnList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertMoney">
      <soap12:operation soapAction="http://tempuri.org/ConvertMoney" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:57356/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:57356/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>